<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head data-th-replace="fragments/layout :: head">
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/applikaasie.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div data-th-replace="fragments/layout :: header">...</div>
      <div class="row">
        <div class="col-sm-12"><h1>Klanten</h1></div>
        <div class="col-sm-12">
          <form class="form-inline" action="/klant/klanten" method="get" >
            <input data-th-if="${_csrf}" type="hidden" 
                   data-th-name="${_csrf.parameterName}" 
                   data-th-value="${_csrf.token}" />
            <div class="form-group">
              <label for="voornaam">Voornaam</label>
              <input type="text" class="form-control" name="voornaam" id="voornaam"/>
            </div>
            <div class="form-group">
              <label for="achternaam">Achternaam</label>
              <input type="text" class="form-control" name="achternaam" id="achternaam"/>
            </div>
            <button type="submit" class="btn btn-default">Zoeken</button>
          </form>
          <br/><br/>
        </div>
      </div>
      <!-- Show if there is klant data -->
      <!-- TODO make TR clickable rather than just name -->
      <div class="row" data-th-if="${not #lists.isEmpty(klantLijst)}">
        <div class="col-sm-12">
          <table class="table table-striped">
            <tr><th>id</th><th>Voornaam</th> <th>Tussenvoegsel</th><th>Achternaam</th><th>Telefoonnummer</th><th>Emailadres</th><th></th></tr>
            <tr data-th-each="klant : ${klantLijst}">
              <td data-th-text="${klant.idKlant}">1</td>
              <td><a data-th-href="@{|/klant/${klant.idKlant}/klant|}" data-th-text="${klant.voornaam}">link</a></td>
              <td data-th-text="${klant.tussenvoegsel}"></td>
              <td data-th-text="${klant.achternaam}"></td>
              <td data-th-text="${klant.telefoonnummer}"></td>
              <td data-th-text="${klant.emailadres}"></td>
              <td>
                <a href="#" data-sec-authorize="hasAuthority('admin')" data-th-href="@{|/account/${klant.idKlant}/klantAccounts|}"><span class="glyphicon glyphicon-user"></span></a> &nbsp;
                <a href="#" data-th-href="@{|/bestelling/${klant.idKlant}/klant|}"><span class="glyphicon glyphicon-shopping-cart"></span></a> &nbsp;
                <a href="#" data-th-href="@{|/klant/${klant.idKlant}/delete|}"><span class="glyphicon glyphicon-trash"></span></a>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" data-th-if="${#lists.isEmpty(klantLijst)}">
        <div class="col-sm-12">Geen klanten gevonden.
        </div>
      </div>
      <div data-th-replace="fragments/layout :: footer">...</div>    

    </div>
  </body>
</html>
