<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head data-th-replace="fragments/layout :: head">
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/applikaasie.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
      <div data-th-replace="fragments/layout :: header">...</div>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-12" data-th-if="${error != null}" data-th-text="${error}"></div>
          <h1>Persoonlijke gegevens</h1><br/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="col-sm-6 box" >
            <strong><span data-th-text="${klant.voornaam}">voornaam</span> <span data-th-text="${klant.tussenvoegsel}">'t</span> <span data-th-text="${klant.achternaam}">acthernaam</span></strong><br/>
            <span class="glyphicon glyphicon-envelope"></span> <span data-th-text="${klant.emailadres}">'t</span><br/>
            <span class="glyphicon glyphicon-earphone"></span> <span data-th-text="${klant.telefoonnummer}">'t</span><br/><br/>
          </div>
          <div class="col-sm-6">
            <a href="#" data-th-href="${login == 'klant'}? @{/klant/edit} : @{|/klant/${klant.idKlant}/editKlant|}"><span class="glyphicon glyphicon-pencil"></span></a>
          </div>
        </div>
      </div>

      <div class="row">
        
          <div class="col-sm-4"  data-th-each="klant_heeft_adres : ${klant.adressen}">
            <br/>
            <div class="col-sm-8 box">
              <address>
                <strong><span data-th-text="${klant_heeft_adres.adresTypeObject.adresType}">Bezorgadres</span></strong><br/>
                <span data-th-text="${klant_heeft_adres.adres.straat}">Sterkenburg</span> 
                <span data-th-text="${klant_heeft_adres.adres.huisnummer}">86</span> 
                <span data-th-text="${klant_heeft_adres.adres.toevoeging}">b</span><br/>
                <span data-th-text="${klant_heeft_adres.adres.postcode}">2402RC</span><br/>
                <span data-th-text="${klant_heeft_adres.adres.woonplaats}">Alphen aan den Rijn</span>
            </address>
            </div>
            <div class="col-sm-1" >
              <a href="#" data-th-href="${login == 'klant'}? 
                 @{|/klant/${klant_heeft_adres.adres.idAdres}/editAdres|} : 
                 @{|/klant/${klant.idKlant}/${klant_heeft_adres.adres.idAdres}/editAdres|}"><span class="glyphicon glyphicon-pencil"></span></a>
            </div>
          </div>
      </div>
    <div data-th-replace="fragments/layout :: footer">...</div>    
    </div>
  </body>
</html>
