<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head data-th-replace="fragments/layout :: head">
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/applikaasie.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div data-th-replace="fragments/layout :: header">...</div>
      <div class="title"><h1>Nieuwe klant</h1></div>
      <form name="newOrder" action="/klant/nieuw" method="POST" class="form-horizontal">
        <div class="row">
          <div class="col-sm-7">
            <h3>Klantgegevens</h3>

            <div class="form-group">
              <label for="voornaam" class="col-sm-3">Voornaam *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" required="required" name="voornaam" autofocus="autofocus"/>
              </div>
            </div>
            <div class="form-group">
              <label for="tussenvoegel" class="col-sm-3">Tussenvoegsel</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="tussenvoegsel"/>
              </div>
            </div>    
            <div class="form-group">
              <label for="achternaam" class="col-sm-3 ">Achternaam *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" required="required" name="achternaam"/>
              </div>
            </div>       
            <div class="form-group">
              <label for="telefoonnummer" class="col-sm-3">Telefoon</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="telefoonnummer"/>
              </div>
            </div>
            <div class="form-group">
              <label for="emailadres" class="col-sm-3">E-mail</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" name="emailadres"/>
              </div>
            </div>

          </div>
        </div>

        <!-- _____________________________ ADRES _____________________________________________________________________________ -->

        <div class="row">
          <div class="col-sm-12">
            <h3>Bezorgadres</h3>
          </div>
          <div class="col-sm-7" data-th-replace="fragments/layout :: adres(1)">
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col-sm-12">
            <h3>Factuuradres</h3>
          </div>
          <div class="col-sm-7" data-th-replace="fragments/layout :: adres(2)">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3>Postadres</h3>
          </div>
          <div class="col-sm-7" data-th-replace="fragments/layout :: adres(3)">
          </div>
        </div>        
        -->
        <div class="row">
          <div class="col-sm-12">        
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-default">Opslaan</button>
              </div>
            </div>       
          </div>
        </div>
      </form>

      <div data-th-replace="fragments/layout :: footer">...</div>    

    </div>
  </body>
</html>
