<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head data-th-replace="fragments/layout :: head">
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/applikaasie.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div data-th-replace="fragments/layout :: header">...</div>
      <div class="row">
      <div class="col-sm-12 title"><h1>Bestellingen</h1></div>
        <div class="col-sm-12">
          <table data-th-if="${not #lists.isEmpty(bestellingenLijst)}" class="table table-striped">
            <tr><th>Omschrijving</th> <th>Datum</th><th data-th-if="${login != 'klant'}">Opties</th></tr>
            <tr data-th-each="bestelling : ${bestellingenLijst}">
              <td data-th-text="${bestelling.getBesteldeArtikelen()}">1</td>
              <td data-th-text="${bestelling.bestelDatum}"></td>
              <td data-th-if="${login != 'klant'}">
                <a href="#" data-th-href="@{|/bestelling/admin/${bestelling.id}/edit|}"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;&nbsp;
                <a href="#" data-th-href="@{|/bestelling/admin/${bestelling.id}/delete|}"><span class="glyphicon glyphicon-trash"></span></a>
              </td>
            </tr>
          </table>   
          <span  data-th-if="${#lists.isEmpty(bestellingenLijst)}">Je hebt nog geen bestellingen.</span>
        </div>
      </div>
      <div data-th-replace="fragments/layout :: footer">...</div>    
    </div>
  </body>
</html>
