<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head data-th-replace="fragments/layout :: head">
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/applikaasie.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div data-th-replace="fragments/layout :: header">...</div>
      <div class="title"><h1>Nieuwe bestelling</h1></div>
        <form name="newOrder" action="/bestelling/nieuweBestelling" method="POST" class="horizontal">
      <div class="row">
          <div class="row">
            <div class="col-sm-3" data-th-each="artikel, stat : ${artikelLijst}">
              <div class="panel panel-primary">
                <div class="panel-heading"><span data-th-text="${artikel.naam}"></span><span class='pull-right'>&euro; <span data-th-text="${artikel.prijs}"></span></span></div>
                <div class="panel-body"><img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"/></div>
                <div class="panel-footer" align="right">
                  <input type="hidden" data-th-name="bestelArtikelen[__${stat.count}__].artikelId" data-th-value="${artikel.id}"/><span >Aantal 
                  <input type="text" class="aantal" data-th-name="bestelArtikelen[__${stat.count}__].aantal" data-th-max="${artikel.voorraad}" value="0"/></span>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row" align="right">
        <button type="submit" class="btn btn-default input-lg">Bestel</button>
      </div>
        </form>
      
      <div data-th-replace="fragments/layout :: footer">...</div>    

    </div>
  </body>
</html>
