<!DOCTYPE html>
<html lang="en">
<head data-th-fragment="head">
    <title>Piets Kazen - Kaziger krijg je ze niet</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" data-th-href="@{/css/applikaasie.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div data-th-fragment="header">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="/"><img data-th-src="@{/images/logo.png}" src="images/logo.png" class="logo"/></a>
          </div>        
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-left">
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bestellingen
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/bestelling/nieuweBestelling.html">Nieuwe bestelling</a></li>
                  <li><a href="/bestelling/mijnBestellingen.html">Bekijk bestellingen</a></li>
                </ul>
              </li>
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Artikelen
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/artikel/nieuwArtikel">Nieuw Artikel</a></li>
                  <li><a href="/artikel/artikelen">Bekijk Artikelen</a></li>
                </ul>
              </li>            
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Klanten                
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/klant/nieuw">Nieuwe klant</a></li>
                  <li><a href="/klant/klanten">Bekijk alle klanten</a></li>
                </ul></li>
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Accounts   
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/account/accounts">Bekijk alle accounts</a></li>
                  <li><a href="/account/nieuwAccount">Nieuw medewerker account</a></li>
                </ul>
              </li>
              <!--
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Instellingen                
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="./connectionPool.html">Connection pool</a></li>
                  <li><a href="./database.html">Database</a></li>
                </ul>
              </li>
              -->
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Meer
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Bijzondere kazen</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Account                
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/account/edit?id=1">Wijzig wachtwoord</a></li>
                  <li><a href="/klant/1/klant">Wijzig persoonsgegevens</a></li>
                </ul></li>
            </ul>
          </div>
        </div>
      </nav>  
    </div>
    <div class="container">
      <div class="row">
          <div class="col-sm-7"  data-th-fragment="adres(count)">
            <div class="form-group">
              <label for="postcode" class="col-sm-3">Postcode</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" required="required" data-th-name="adresLijst[__${count}__].postcode" maxlength="6"/>
              </div>
            </div>
            <div class="form-group">
              <label for="huisnummer" class="col-sm-3">Huisnummer *</label>
              <div class="col-sm-9">
                <input type="number" class="form-control" required="required" data-th-name="adresLijst[__${count}__].huisnummer"/>
              </div>
            </div>    
            <div class="form-group">
              <label for="toevoeging" class="col-sm-3 ">Toevoeging</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" maxlength="10" data-th-name="adresLijst[__${count}__].toevoeging"/>
              </div>
            </div>
            <div class="form-group">
              <label for="straat" class="col-sm-3">Straat *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" maxlength="45" required="required" data-th-name="adresLijst[__${count}__].straat"/>
              </div>
            </div>

            <div class="form-group">
              <label for="woonplaats" class="col-sm-3">Woonplaats *</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" maxlength="30" required="required" data-th-name="adresLijst[__${count}__].woonplaats"/>
              </div>
            </div>            
            <div><hr/></div>
          </div>    
    </div>
    </div>

    <div data-th-fragment="footer">
      <footer class="container-fluid text-center">
        <p>(C) Piet</p>

      </footer>
    </div>
  </body>
</html>
