<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head data-th-replace="fragments/layout :: head">
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/applikaasie.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div data-th-replace="fragments/layout :: header">...</div>
      <div class="row">
      <div class="title col-sm-12"><h1>Account bestaat niet</h1></div>
        <div class="col-sm-12">Het account waar je naar zoekt bestaat niet.<br/> <br/>            
          <img src="/images/mouse-and-cheese.png"/>

        </div>
      </div>
      <div data-th-replace="fragments/layout :: footer">...</div>    
    </div>
  </body>
</html>
