<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head data-th-replace="fragments/layout :: head">
    <title>TODO supply a title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/applikaasie.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="container">
    <div data-th-replace="fragments/layout :: header">...</div>
      <div class="row">
        <div class="title col-sm-12"><h1>Accounts <span data-th-if="${klant != null}" data-th-text="${klant.voornaam}"></span></h1></div>
        <div class="col-sm-12">
          <table class="table table-striped">
            <tr><th>id</th><th>Gebuikersnaam</th> <th>Account type</th><th></th></tr>
            <tr data-th-each="account : ${accountList}">
              <td data-th-text="${account.id}"></td>
              <td data-th-text="${account.gebruikersnaam}"></td>
              <td data-th-text="${account.accountStatus}"></td>
              <td>
                <a href="#" data-th-href="@{/account/edit(id=${account.id})}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
                <a href="#" data-th-href="@{/account/delete(id=${account.id})}"><span class="glyphicon glyphicon-trash"></span></a>
              </td>

            </tr>

          </table>
          
          <a href="#" data-th-if="${klant != null}" data-th-href="@{|/account/${klant.idKlant}/nieuwAccount|}"><span class="glyphicon glyphicon-user"> Nieuw account</span></a> &nbsp;&nbsp;
        </div>
      </div>
    <div data-th-replace="fragments/layout :: footer">...</div>    
    </div>
  </body>
</html>
